.post {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #000;
  padding: 0.5rem;
  cursor: pointer;
  list-style: none;
}

.postLeftLink {
  cursor: pointer;
}

.postLeftAvi {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: fill;
}

.postLeftAvi:hover {
  filter: brightness(80%);
}

.postRightTop {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.postDisplayName {
  font-weight: bold;
}

.postDisplayName:hover {
  text-decoration: underline;
}

.postDisplayName,
.postUsername,
.postTime {
  margin: 0;
  font-size: 14px;
}

.postUsername,
.postTime {
  color: #6b6b6b;
}

.postContent {
  margin: 0;
}

.postActions {
  display: flex;
  gap: 1rem;
}

.postAction {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
}
