.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.homeLink {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
}
