:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  all: unset;
}

body {
  font-family: inherit;
}

.appWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 1000px;
  padding-top: 2rem;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  .app {
    width: 100%;
  }
}
