.userUl {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.userBackButton {
  background-color: transparent;
  border: none;
  margin-bottom: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}
